body {
    font-family: Arial, sans-serif;
    background-color: #0063ff;
    color: 0063ff;
    text-align: center;
    padding: 50px;
  }
  
  .container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    max-width: 400px;
    margin: 0 auto;
  }
  
  .form-group {
    margin-bottom: 20px;
    text-align: left;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
  }
  
  .form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  .btn-register {
    background-color: #0063ff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .btn-register:hover {
    background-color: #0052cc;
  }
  