<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/base/styles/login.css" />
    <title>Login Page</title>
  </head>

  <body>
    <div class="login-container">
      <div class="login-box">
        <h2>Login</h2>
        <form method="post">
          {% csrf_token %}
          <input
            type="text"
            class="login-input"
            placeholder="Username"
            name="username"
            id="username"
            required
          />
          <input
            type="password"
            class="login-input"
            placeholder="Password"
            name="password"
            id="pass"
            required
          />
          <a href="{% url "register" %}">Don't have an Account?</a>
          <button type="submit" class="login-button">Login</button>
          <button type="button" class="google-btn">Sign in with Google</button>
        </form>
      </div>
    </div>
  </body>
</html>
