.navbar-brand {
    margin-left: 50px;
    font-weight: bold;
    color: #1D68A8;
}

.btn-outline-success:hover {
    background-color: #ffffff;
    color: #0063FF;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(to right, #0053D9, #002D7B);
    color: white;
}

.container {
    margin-top: 72px;
    margin-left: 80px;
    padding-left: 0px;
    font-size: 40px;
    font-weight: bold !important;
    color: #F1C40A;
    font-family: 'Poppins', sans-serif;
}

.content-container {
    font-family: 'Poppins', sans-serif;
    margin-left: 80px;
    margin-bottom: 5px;
    color: #ffffff;
    font-weight: 500;
    display: flex;
}

.box {
    align-items: center;
    margin-left: 80px;
    margin-bottom: 20px;
    position: relative;

}

.drop-file {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.start-button {
    margin-left: 80px;
    color: #1D68A8;
    font-weight: 600;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}
